<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>GENERAL_SETTINGS</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Key</key>
			<string>DEFAULTS_EXPORT_SIZE</string>
			<key>Title</key>
			<string>EXPORT_SIZE</string>
			<key>Titles</key>
			<array>
				<string>Original</string>
				<string>1920 × 1440</string>
				<string>1600 × 1200</string>
				<string>1024 × 768</string>
				<string>800 × 600</string>
				<string>640 × 480</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
        <dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>DEFAULTS_BLUR_QUALITY</string>
			<key>Title</key>
			<string>BLUR_QUALITY</string>
			<key>Titles</key>
			<array>
				<string>BLUR_QUALITY_VERY_HIGH</string>
				<string>BLUR_QUALITY_HIGH</string>
				<string>BLUR_QUALITY_NORMAL</string>
				<string>BLUR_QUALITY_LOW</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
        <dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>DEFAULTS_BRIGHTNESS_MODE</string>
			<key>Title</key>
			<string>BRIGHTNESS_MODE</string>
			<key>Titles</key>
			<array>
				<string>BRIGHTNESS_MODE_BRIGHTNESS</string>
				<string>BRIGHTNESS_MODE_GAMMA</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>DEFAULTS_SOUND_EFFECT</string>
			<key>Title</key>
			<string>SOUND_EFFECT</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
        <dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>DEFAULTS_RESTORE_IMAGE_FOR_REBOOT</string>
			<key>Title</key>
			<string>RESTORE_IMAGE_FOR_REBOOT</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>Title</key>
            <string>Advanced</string>
            <key>File</key>
            <string>Advanced</string>
        </dict>
    </array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>WhereTo</string>
</dict>
</plist>
